{
  "extends": ["htmlacademy/es6", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "no-trailing-spaces": ["error", { "ignoreComments": true }]
  }
}
