{
  "extends": [
    "stylelint-config-htmlacademy",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-config-rational-order/plugin"
  ],
  "fix": true,
  "rules": {
    "string-quotes":"single",
    "declaration-block-no-duplicate-properties": [true, {
        "ignoreProperties": ["color", "background", "/background-/"]
      }],
    "media-feature-name-no-vendor-prefix": null,
    "at-rule-no-unknown": null,
    "order/properties-order": [],
    "plugin/rational-order": [true, {
        "border-in-box-model": false,
        "empty-line-between-groups": true
      }]
    }
}
